{% extends "layout.html" %}

{% block body %}

<!-- <p class="font-weight-light">Light weight text.</p>  w-auto small -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><h6>#</h6></th>
      <th scope="col"><h6>Proje No</h6></th>
      <th scope="col"><h6>Proje Adı</h6></th>
      <th scope="col"><h6>MÜŞTERİ ADI</h6></th>
      <th scope="col"><h6>SİPARİŞ ADETİ</h6></th>
      <th scope="col"><h6>BAŞLAMA TARİHİ</h6></th>
      <th scope="col"><h6>BİTİŞ TARİHİ</h6></th>
      <th scope="col"><h6>PROJE DURUMU</h6></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="/about">Proje01</a></td>
      <td>Deneme projesi 01</td>
      <td>Müşteri 01</td>
      <td>1 adet</td>
      <td>01.08.2021</td>
      <td>01.08.2021</td>
      <td>xxxxxxxxxx</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href="/about">Proje02</a></td>
      <td>Deneme projesi 02</td>
      <td>Müşteri 02</td>
      <td>1 adet</td>
      <td>01.08.2021</td>
      <td>01.08.2021</td>
      <td>xxxxxxxxxx</td>
    </tr>




  </tbody>
</table>


{% endblock body %}